.cardBox {
  width: 18rem;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 10px !important;
}

hr.linespacing {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}