.App {
  width: 100vw;
  height: 100vh;
}
  

body {
  margin: 0;
  padding: 0;
}


.Sidebar {
  height: 100%;
  width: 250px;
  background-color:rgb(20, 185, 100);
}


.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color:seagreen;
}

.SidebarList #active {
  background-color: seagreen;
}

.SidebarData {
  width: 100px;
  height: 100px;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}


.row #title {
  flex: 70%;

}