.side-navbar {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:seagreen;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

/* .Navbar {
  height: 100%;
  width: 250px;
  background-color: rgb(20, 185, 100);
}

.NavbarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.NavbarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.NavbarList .row:hover {
  cursor: pointer;
  background-color: seagreen;
}

.NavbarList #active {
  background-color: seagreen;
}

.NavbarData {
  width: 100px;
  height: 100px;
} */
