.title {
    padding-top: 3%;
    font-size: 50px;
    color: #E34234;
    font-family: sans-serif;
}

hr.solid-divider {
    border-top: 3px solid rgb(92, 92, 92);
}

.notes {
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-around;
}